.embla {
    --slide-spacing: 1rem;
    --slide-size: 100%;
    --slide-height: 19rem;
    padding: 1.6rem;
}

.embla__viewport {
    overflow: hidden;
}

.embla__container {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y;
    margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
    position: relative;
}

.embla__slide__img {
    display: block;
    height: var(--slide-height);
    width: 100%;
    object-fit: cover;
}

.embla__slide__number {
    width: 4.6rem;
    height: 4.6rem;
    z-index: 1;
    position: absolute;
    top: 0.6rem;
    right: 0.6rem;
    border-radius: 50%;
    background-color: rgba(var(--background-site-rgb-value), 0.85);
    line-height: 4.6rem;
    font-weight: 900;
    text-align: center;
    pointer-events: none;
}

.embla__slide__number>span {
    color: var(--brand-primary);
    background-image: linear-gradient(45deg,
            var(--brand-primary),
            var(--brand-secondary));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.6rem;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.swiper,
.swiper-container {
    direction: 1tr;
}

.wcf__slider {
    --slides-to-show: 1;
    --space-between: 20px;
}

.swiper-wrapper {
    transform: translate3d(-1080px, 0px, 0px);
    transition-duration: 0ms;
}

.swiper-pagination {
    position: static;
    margin-top: 30px;
    text-align: center;
}

.slide {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    border-radius: 30px;
    background-color: #FAE7F5;
    gap: 70px;
}

@media (width > 575px) {
    .slide {
        grid-template-columns: 270px auto;
    }
}

.slide .picture {
    height: 100%;
}

.slide .picture img {
    object-fit: cover;
}

@media (width > 575px) {
    .slide .picture img {
        border-radius: 30px 0px 0px 30px;
    }
}

.slide .content {
    padding: 0px 20px 30px;
}

@media (width > 575px) {
    .slide .content {
        padding: 30px 30px 30px 0px;
    }
}

@media (width > 767) {
    .slide .content {
        padding: 50px 50px 50px 0px;
    }
}