@media (width > 270px) {
    .coding__wrapper {
        grid-template-columns: auto auto;
    }
}

@media (width > 450px) {
    .coding__wrapper {
        grid-template-columns: auto auto auto;
    }
}

@media (width > 600px) {
    .coding__wrapper {
        grid-template-columns: auto auto auto auto auto;
    }
}