.content-container {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.content-sub-container {
    padding-inline-end: 80px;
    margin-inline-end: 110px;
    position: relative;
    display: grid;
    grid-template-columns: 330px calc(100% - 410px);
    gap: 80px;
}

.pin-spacer {
    order: 0;
    place-self: auto;
    grid-area: auto;
    z-index: auto;
    float: none;
    flex-shrink: 1;
    display: block;
    margin: 0px;
    inset: auto;
    position: relative;
    flex-basis: auto;
    overflow: visible;
    box-sizing: border-box;
    width: 330px;
    height: auto !important;
    max-height: none !important;
    padding: 0px;
}

section {
    margin-bottom: -1px;
}

.container-area {
    container-type: inline-size;
}

p {
    padding: 0;
    margin: 0;
    line-height: 1.5;
    font-weight: 400;
    font-size: 16px;
}

ul,
ol {
    padding: 0;
    margin: 0;
}