.sticky {
    position: fixed !important;
    top: 0;
}

.header {
    position: fixed;
    width: 110px;
    height: 100%;
    top: 0;
    right: -110px;
    z-index: 2;
    padding: 0;
    background-color: var(--white);
    transition: right 0.5s;
    margin-bottom: -1px;
}

@media only screen and (min-width: 1199px) {
    .header {
        right: 0;
    }
}

.header-visible {
    right: 0;
}

.header-2 {
    background-color: var(--white);
}