.swiper,
.swiper-container {
    direction: 1tr;
}

.wcf__slider {
    --slides-to-show: 1;
    --space-between: 20px;
}

.swiper-pointer-events {
    touch-action: pan-y;
}

.swiper-wrapper {
    transform: translate3d(-1080px, 0px, 0px);
    transition-duration: 0ms;
}

.swiper-pagination-bullet {
    background-color: #16254C;
    width: 6px;
    height: 6px;
}